body {
    height: 100%;
    width: 100%;
   #youge{
       height: auto;
       overflow: hidden;
       .header{
           padding-left: 100px;
           box-sizing: border-box;
        position: relative;
        width: 100%;
        min-width: 1200px;
        background-image: url(../img/header.jpg);
        height: 80px;
       a{
           width: auto;
           float: left;
           margin: 14px 30px;
           text-align: center;
       }
    }
    .top{
        width: 100%;
        background-color: #f6f6f6;
        border-bottom: 1px solid #dadada;
        z-index: 9999;
        height: 30px;
        padding-left: 100px;
        em{
            color: #6c6c6c;
            line-height: 30px;
            height: 30px;
            font-size: 10px;
        }
        a{
            height: 30px;
            width: auto;
            line-height: 30px;
            box-sizing: border-box;
            color: #6c6c6c;
            font-size: 13px;
            padding: 0 13px;
        }
        a:hover{
            color: orangered;

        }
        .normal{
            font-weight: 700;
        }
        .iconfont{
            margin-right: 2px;
        }
        .special{
            margin-left: 40px;
            .iconfont{
                color: orangered;
                margin-right: 5px;
            }
        }
      .na{
          color: orangered;
      }
     
       
    }
    .side{
        height: 100%;
        position: fixed;
        width: 35px;
        background-color: black;
        z-index: 1000;
        right: 0;
        top: 0;
        .iconfont{
            color: white;
            text-align: center;
            margin-top: 20px;
            display: block;
            width: 100%;
            margin: 10px 0;
            height: 35px;
            line-height: 35px;
            cursor: pointer;

        }
        p{
            color: white;
            cursor: pointer;
            height: 135px;
            background-color: black;
            font-size: 10px;
            width: 11px;
            margin-left: 13px;
            .iconfont{
                margin-left: -2px;
                line-height: 70px;
            }
        }
    }
    .banner{
        height: 110px;
        padding: 0 100px;
        img{
            float: left;
        }
       .heng{
        width: 480px;
        height: 40px;
        float: left;
        margin-top: 25px;
        input{
            border: 1.5px solid orangered;
            height: 40px;
            width: 400px;
            padding-left: 5px;
            box-sizing: border-box;
            margin: 0;
            float: left;
        }
        button{
            background-color: orangered;
            height: 40px;
            color: white;
            font-weight: 700;
            line-height: 40px;
            font-size: 11px;
            margin: 0;
            width: 80px;
            float: left;

        }
       }
       ul{
           width: 400px;
           height: 10px;
           margin-left: 402px;
           li{
               line-height: 10px;
               font-size: 10px;
               color: orangered;
               float: left;
               margin-right: 7px;
               margin-top: 4px;
               cursor: pointer;
           }
       }
       .cart{
           height: 35px;
           width: 150px;
           margin-top: 17px;
           border: 1px solid gray;
           margin-left: 30px;
       }
    }
    .nav{
        height: 35px;
        padding-left: 100px;
        background-color: rgb(241,60,43);
        ul{
            height: 100%;
            width: 1060px;
            li:first-child{
                width: 226px;
                background-color: darkred;
            }
            li:last-child{
                color: yellow;
                font-weight: 600;
            }
            li{
                height: 100%;
                width: 75px;
                color: white;
                text-align: center;
                line-height: 35px;
                font-size: 14px;
                float: left;
                cursor: pointer;
            }
            li:hover{
                background-color: darkred;

            }
        }
    }
    .slide{
        background-image: url("http://images.yoger.com.cn/uploads/image/20200107/1578393013.jpg");
        height: 465px;
        background-size: cover;
        padding-left: 100px;
        position: relative;
        .left{
            height: 100%;
            position: absolute;
            background-color: white;
            top: 0;
            width: 226px;
            border: 1px solid rgb(241,60,43);
            left: 100px;
            box-sizing: border-box;
            .goodLeft{
                width: 226px;
                height: 65px;
                position: relative;
                &:hover{
                border: #6c6c6c 1px solid;
                background-color: rgb(235, 239, 243);
                }
            .iconfont{
                color: #6c6c6c;
                 font-size: 16px;
                line-height: 14px;
                position: absolute;
                font-weight: 700;
                left: 15px;
                top: 14px;
            }
            h3{
                font-weight: 700;
                color: #6c6c6c;
                font-size: 16px;
                position: absolute;
                top: 14px;
                left: 43px;
                line-height: 14px;
                font-weight: 700;
            }
            .shit{
                position: absolute;
                left: 43px;
                top: 40px;
                
                li{
                    float: left;
                    height: 10px;
                    font-size: 10px;
                    line-height: 10px;
                    color: #6c6c6c;
                    margin-right: 6px;
                    cursor: pointer;
                    &:hover{
                        color:red;
                    }

                }
            }



            }
            .detailsLeft{
                position: absolute;
                left: 223px;
                background-color: rgb(241,60,43);
                top: 0;
                height: auto;
                display: none;
                width: 523px;
                border: #6c6c6c 1px solid;
                background-color: rgb(235, 239, 243);
                border-left: 2px solid rgb(235, 239, 243);
                li{
                    width: 100%;
                    height: 64px;
                    padding: 5px 50px 5px 50px;
                    position: relative;
                    h3{
                        color: rgb(172, 7, 7);
                        font-size: 13px;
                        font-weight: 700;
                        left: 30px;
                        position: absolute;
                    }
                    div{
                        margin-left: 70px;
                        width: 289px;
                        a{
                            padding: 2px 5px;
                            font-size: 10px;
                            line-height: 10px;
                            border-left: 1px solid #666161;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .right{
            background-color: white;

            height: 100%;
            position: absolute;
            top: 0;
            width: 200px;
            left: 900px;
            position: relative;
            li{
                height: 30px;
                float: left;
                line-height: 30px;
                text-align: center;
                width: 50%;
                margin-bottom: 5px;
            }
            .active1{
                border-bottom: 2px solid rgb(172, 7, 7);

            }
            div{
                height: 0;
                position: absolute;
                left: 8px;
                width: 180px;
                top: 45px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 20;
                -webkit-box-orient: vertical;
            }
            .active0{
                display: block;
                height: 420px;
            }
        }
        .circles{
            position: absolute;
            bottom: 5px;
            left: 500px;
            li{
                width: 15px;
                height: 15px;
                margin-right: 25px;
                border-radius: 50%;
                background-color: grey;
                float: left;
                cursor: pointer;
            }
            li:hover{
                background-color: orangered;
            }
        }
        
    }
    .main1{
        height: 507px;
        width: 100%;
        padding-left: 100px;
        position: relative;
        .good01{
            width: 680px;
            height: 454px;
            float: left;
           
        }
        img{
            float: left;
        }
       .mm{
          margin-left: -235px;
          width: 1150px;
       }
    }
    .meun{
        height: 60px;
        background-color: grey;
        opacity: 0.5;
        // position: fixed;
        // top: 0;
        padding-left: 170px;
        width: 100%;
    }









   }
  }
  
